
Client/Client/.vs/Client/v15/Server/sqlite3/storage.ide-shm
Client/Client/.vs/Client/v15/.suo
Client/Client/.vs/Client/v15/Server/sqlite3/storage.ide-wal
Client/Client/.vs/Client/v15/Server/sqlite3/db.lock
